*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  background-color: white;
  padding: 100px;
}
.wrapper {
  margin: auto;
  background-image: url(./images/sun/sun4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 400px;
  height: 640px;
  border:  8px solid black;
}
.city{
  margin-top: 200px;
  margin: auto;
  width: 50%;
  height: 200px;
  font-size: 30px;
  padding-top: 50px;
}
.city p{
  text-align: center;
}
.city p:last-child{
  font-size: 60px;
  font-weight: bold;
  padding-top: 25px;
}
.data p{
  text-align: center;
}
.data div{
  width: 33.3%;
  float: left;
}
.data div p:first-child{
  color:white;
}
.wrapp{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pix{
  width: 70px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form{
  width: 70%;
  height: 200px;
}
.wrapInput{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form input{
  border: 2px solid rgba(235, 235, 235, 0.94);
  background-color: rgba(235, 235, 235, 0.2);
  border-radius: 40px;
  height: 40px;
  padding: 0 11px;
  font-size: 20px;
  font-weight: bold;FRT6
  display: flex;
  align-items: center;
  overflow: hidden;
}
.wrappForm{
  width: 400px;
  height: 640px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.wrappButton{
  display: flex;
  justify-content: center;

}
a{
  position:absolut;
  top:50%;
  left:50%;
  margin-top: 20px;
  transform: translate(-1%,-1%);
  width: 180px;
  height: 160px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(235, 235, 235, 0.2);
  border: 2px solid white;
  box-shadow: 0 15px 50px rgba(0,0,0,.8);
  overflow: hidden;
  color: rgb(98, 151, 183);

}
a:before{
  content: attr(data-title);
  position:absolute;
  top:0;
  left:0;
  background: rgb(98, 151, 183);
  width: 100%;
  height: 100%;
  transition: .5s;
  color: white;
}
a:after{
  content: attr(data-title);
  position:absolute;
  top:100%;
  left:100%;
  background: rgb(98, 151, 183);
  width: 100%;
  height: 100%;
  transition: .5s;
  color: white;
}
a:hover:before{
  top:-100%;
  left:-100%;
}
a:hover:after{
  top:0%;
  left:0%;
}
div nav{
  width: 30px;
  height: 30px;
  margin: 20px;
}
.clock-nav{
  display: flex;
  flex-direction: row;
}
.fa { transform: scale(1.5,1.5); }
.clock{
  width: 100px;
  height: 50px;
  margin-left: 200px;
  margin-top: 10px;
}
.forecastList{
  height: 230px;
  width: 200px;
}
.forecastList li{
  display: flex;
  /*flex-grow: 2;*/
  width: 197px;
}
.forecastList li span{
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
}
.forecast{
  width: 100px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.namesDays{
  height: 230px;
  width: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.namesDays time{
  font-weight: bold;
  margin-top: 34px;
}
.btnHome{
  margin: 15px 0 0 20px;
  padding: 0 5px 25px 0;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255, 0.5);
  border: 1px solid rgb(255, 255, 255, 0.5);
  color: black;
  font-size: 20px;
}
